@media (max-width:750px) {
    .relative-header{
        position: relative;
    }
    .mob-header{
        position: absolute;
        top: 100%;
        left: -100%;
        display: flex !important;
        width: 100%;
        flex-direction: column;
        z-index: 9999;
        background-color: white;
    }

    .active-mob-header{
        left: 0% !important;
    }

    .mob-header li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .mob-header li a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        border-bottom: 1px solid rgb(115, 115, 115);
        height: 60px;
    }

    .mob-header li a:nth-child(1){
        border-top: 1px solid rgb(140, 140, 140);
    }
}

.mob-header{
    display: none;
}